:root {
  font-family: "Merienda One", "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-box {
  width: 70vw;
  justify-content: space-evenly;
  color: white;
}

h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.text,
.author {
  background-color: white;
  font-size: 2rem;
}

.text {
  display: block;
  font-style: normal;
  text-align: center;
  padding: 1rem;
  border-radius: 5px 5px 0px 0px;
}

.author {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: right;
  padding-bottom: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 0px 0px 5px 5px;
}

.tweet-quote {
  font-size: 2rem;
  background-color: white;
  border-radius: 5px;
  padding: 1px 6px;
  margin: 1.2rem;
}

.new-quote {
  font-size: 2rem;
  background-color: white;
  margin: 1rem;
  outline: none;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-around;
}