#root {
  font-family: "Merienda One", cursive;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
#quote-box {
  display: flex;
  flex-flow: row wrap;
  width: 70vw;
  justify-content: space-evenly;
  color: white;
}
h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 15px;
}
#text,
#author {
  background-color: white;
  text-align: center;
  width: 70vw;
  margin: 0;
  font-size: 2rem;
}
#text {
  min-height: 20vh;
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
}
#author {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: right;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 0px 0px 5px 5px;
}
#tweet-quote {
  float: left;
  font-size: 2rem;
  background-color: white;
  border-radius: 5px;
  padding: 1px 6px;
  margin: 15px;
}
#new-quote {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  order: 5;
  background-color: white;
  margin: 15px;
  border-style: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  outline: none;
}
